{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <main class="mdl-layout__content">
        <div class="page-content">
                <div class="mdl-grid">
            <span class="mdl-layout-title">Cases</span>
            <div class="mdl-layout-spacer"></div>
            {% with form_object="createbutton", button_icon="add", button_text="Create Case", button_value="createbuttonvalue" %}
                {% include "subtemplates/_plain_button.html" %}
            {% endwith %}
        </div>
        <div class="mdl-layout-spacer"></div>
        {% with form_object="table",table_list=["Delete", "Merge"], table_header=["Case ID", "Subject", "Description", "Case Status"] %}
            {% include "subtemplates/_table_object.html" %}
        {% endwith %}
        <div class="mdl-layout-spacer"></div>
        </div>
    </main>
{% endblock %}
