{% extends "index.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style>
    .demo-list-action {
      width: 300px;
    }


</style>
<main class="mdl-layout__content">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ _('Create a Task') }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{ _('Create a new Case.') }}
        </div>
        <div class="mdl-card__actions mdl-card--border ">
            <form class="form" method="post" role="form" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {% include "subtemplates/_subject.html" %}
                <div class="mdl-layout-spacer"></div>
                {% include "subtemplates/_description.html" %}
                <div class="mdl-layout-spacer"></div>
                {% include "upload_file.html" %}
                <!--</div>-->
                <div class="mdl-layout-spacer"></div>
                {% with iterable_thing=detection_method, dropdown_topic="detection_method", dropdown_title="Detection Method" %}
                    {% include "subtemplates/_dropdown_list.html" %}
                {% endwith %}
                {% with iterable_thing=groups, dropdown_topic="group_access", dropdown_title="Group Access" %}
                    {% include "subtemplates/_dropdown_object.html" %}
                {% endwith %}
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        value=data-val.value>
                    {{ _('Create') }}
                </button>
            </form>
        </div>
    </section>
</main>
{% endblock %}