{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        .demo-list-action {
          width: 2000px;
        }
        .mdl-textfield{
            width:1000px;
        }
    </style>
    <main class="mdl-layout__content">
        <div class="mdl-layout-spacer"></div>
        <section class="section--center mdl-grid mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ title }}</h2>
            </div>
            <div class="mdl-card__supporting-text">Case ID: {{ form.case_id }}</div>
            <div class="mdl-card__actions">
                <form class="form" method="post" role="form">
                    {{ form.hidden_tag() }}
                    {% with form_object=subject, form_object_name="subject", form_object_rows=1, form_object_label="Subject", form_object_value=form.subject %}
                         {% include "subtemplates/_form_object_textfield.html" %}
                    {% endwith %}
                    {% with form_object=description, form_object_name="description", form_object_rows=1, form_object_label="Description", form_object_value=form.description %}
                        {% include "subtemplates/_form_object_textfield.html" %}
                    {% endwith %}
                    {% with iterable_thing=case_status, dropdown_topic="case_status", dropdown_label="Status", form_object_value=form.current_state, dropdown_topic_set="True" %}
                        {% include "subtemplates/_dropdown_list.html" %}
                    {%  endwith %}
                    {% with iterable_thing=detection_method, dropdown_topic="detection_method", dropdown_label="Detection Method", form_object_value=form.detection_method, dropdown_topic_set="True" %}
                        {% include "subtemplates/_dropdown_list.html" %}
                    {% endwith %}
                    {% with iterable_thing=assigned_to, dropdown_topic="assigned_to", dropdown_label="Assigned User", form_object_value=form.assigned_to, dropdown_topic_set="True" %}
                        {% include "subtemplates/_dropdown_list.html" %}
                    {%  endwith %}
                    {% with iterable_thing=groups_access, dropdown_topic="groups_access", dropdown_label="Group Access", form_object_value=form.data.group_acccess,  dropdown_topic_set="True" %}
                        {% include "subtemplates/_dropdown_list.html" %}
                    {% endwith %}
                    <!--</div>-->
                    <div class="mdl-layout-spacer"></div>
                    {% with form_object=case_notes, form_object_name="case_notes", form_object_rows=20, form_object_label="Case Notes", form_object_value=form.case_notes %}
                        {% include "subtemplates/_form_object_textfield.html" %}
                    {% endwith %}
                    {% with form_object=case_rules, form_object_name="case_rules", form_object_rows=20, form_object_label="Case Rules", form_object_value=form.case_rules %}
                        {% include "subtemplates/_form_object_textfield.html" %}
                    {% endwith %}
                    <!--</div>-->
                    <div class="mdl-layout-spacer"></div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            value=data-val.value>
                        Save
                    </button>
                </form>
            </div>
        </section>
        <div class="mdl-layout-spacer"></div>
    </main>
    <div class="mdl-layout-spacer"></div>
{% endblock %}